/* Empty. Add your own CSS if you like */
.homePage{
  background-image: url('../img/main.jpg');
  background-size: cover;
  background-position: center;
}
.overlay{
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6);
  text-align: center;
}
.overlay:before{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
.contents{
  vertical-align: middle;
  display: inline-block;
  text-align: center;
}
h1{
  color:#fff;
  text-align: center;
}
.homePage .item{
  border:0;
}
.homePage .item-input{
  text-align: left;
  padding-left: 0;
}
.homePage .item-input span{
  color: #fff;

}
.homePage input{
  background: transparent;
  color: #fff;
  border-bottom:1px solid #fff;
}
.popup-head{
  background: #ef473a;
}
.popup-head h3,.popup-head h5{
  color: #fff;
}
